@charset "utf-8";
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * Colors.
 */
/**
 * Positionings.
 */
/**
 * Text styles.
 */
/**
 * Animations.
 */
/**
 * Sizes.
 */
/**
 * Breakpoints.
 */
/**
 * Functions.
 */
/*------------------------------------*\
    $UI-BLOB
\*------------------------------------*/
/**
 * The root of the ui-blob.
 */
/* Opened ui-blob state. */
/* Focused ui-blob state. */
/**
     * The content holder of the ui-blob.
     */
.ui-blob__holder {
  /* Add a background and border. */

  background: #f5f5f5;
  border: 1px solid #aaaaaa;
  /* Round the corners. */

  border-radius: 4px;
}
/* The opened content holder. */
/**
         * The content frame.
         */
.ui-drop__frame {
  /* Set the max height before scrolling. */

  max-height: 25em;
}
