@charset "uft-8";


/*------------------------------------*\
    $DEMO
\*------------------------------------*/

body {
    font-family: sans-serif;
    font-weight: 100;
    margin: 2em;
}
section {
    margin: 2em 0;
}
input {
    border: 1px solid #ccc;
    margin: 0;
}
input:focus {
    border-color: #444;
}
.div {
    text-align: center;
    position: relative;
    background: #ddd;
}
.content {
    color: green;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}












